<!-- <div *ngIf="!heroe.id; else otro"> <h1>Crear Heroe <small>{{heroe.superhero}}</small></h1></div>
<ng-template #otro><h1>Editar Heroe</h1></ng-template>  -->

<h1> {{(!heroe.id) ? 'Crear Héroe': 'Editar'}} <small>{{heroe.superhero}}</small></h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">

    <div fxFlex="50%" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.xs="0px" fxLayoutGap.sm="0px"  fxLayoutGap="20px">

            <mat-form-field fxFlex="100%">
                <mat-label>SuperHeroe</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.superhero" required>
            </mat-form-field>
    
            <mat-form-field fxFlex="100%">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.alter_ego" required>
            </mat-form-field>

        </div>

        <mat-form-field>
            <mat-label>Primera Aparición</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.first_appearance" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.characters" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select  [(ngModel)]="heroe.publisher" required>
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                    {{publisher.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto URL</mat-label>
            <input matInput type="url" [(ngModel)]="heroe.alt_img" required>
        </mat-form-field>

        <br>

        
        <div fxLayout="row" fxLayoutGap="20px">
            <button fxFlex="100%" mat-raised-button color="primary" (click)="guardar()">
                <mat-icon>{{(heroe.id) ? 'update': 'add'}} </mat-icon>
                {{(heroe.id) ? 'Actualizar': 'Crear'}} 
            </button>
            <button  fxFlex="100%" *ngIf="heroe.id" mat-raised-button color="warn" (click)="borrar()">
                <mat-icon> delete </mat-icon>
                Borrar
            </button>
        </div>

    </div>

    <div fxFlex="50%">
        <img [src]="heroe | imagen">
    </div>
</div>
